.responses {
    color: white;
    background-color: #d74680;
}

.responses__header {
    margin-bottom: 66px;
}

.responses__wrapper {
	padding: 0;
}
.responses__row {
	font-size: 0;
	line-height: 0;
	float: left;
	width: 100%;
	margin-bottom: 128px;
}
