.nav__menu {
    font-size: 0;
    line-height: 0;

    margin: 0 19px;
    padding: 0;

    list-style-type: none;

    text-align: right;
}

.nav__item {
    font-size: 1rem;
    line-height: 2rem;

    display: inline-block;

    margin-right: 2px;

    list-style-type: none;

    text-align: center;
    text-transform: uppercase;

    border-radius: 5px;
}

.nav__item:last-of-type {
    margin-right: 0;
}

.nav__item:hover {
    background-color: #643a79;
}

.nav__link {
    display: block;

    padding: 0 17px;

    color: white;
}

.nav__sandwich {   

    display: none;

    width: 50px;
    height: 50px;
    margin: 0 19px;
}

.sw-topper,
.sw-middle,
.sw-bottom {
    position: relative;

    display: block;

    width: 100%;
    height: 5px;

    transition-delay: .2s, 0s;

    border: none;
    border-radius: 4px 4px 4px 4px;
    background: rgb(255, 255, 255);
}

.sw-topper {
    top: 5px;

    transition: transform .5s, top .2s;
}

.sw-middle {
    top: 15px;

    transition: transform .5s, opacity .2s;
}

.sw-bottom {
    top: 25px;

    transition: transform .5s, top .2s;
}

.nav__sandwich:hover {
    .sw-topper {
        top: 17px;

        transform: rotate(140deg);
    }
    .sw-middle {
        opacity: 0;
    }
    .sw-bottom {
        top: 7px;

        transform: rotate(-140deg);
    }
    .dropdown {
        display: block;
    }
}
