.responses-item {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 0 20px;
    text-align: left;
    font-size: 1rem;
    line-height: 1.5em;
}

.responses-item:nth-of-type(even) {
    margin-right: 0;
}

.responses-item__img-cont {
    float: left;
    text-align: center;
}

.responses-item__img {
    display: inline-block;
    width: 96px;
    max-width: 100%;
    height: 96px;
    margin: 0 auto;

    border-radius: 50%;
}

.responses-item__content {
    display: table-cell;
    padding: 3px 0 0 8.04%;
}

.responses-item__text {
    display: block;
    font-size: 1.3125rem;
    font-style: italic;
    line-height: 1.5em;
    margin-bottom: 22px;
}

.responses-item__author {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.08em;

    margin-bottom: 3px;

    text-transform: uppercase;
    font-style: normal;
}

.responses-item__prof {
    font-size: 1.125rem;
    line-height: 1.25rem;

    color: #fd9;
}
