.our-team-item {
    display: inline-block;

    width: 50%;
    padding: 0 10px;

    vertical-align: top;
    font-size: 1rem;
    line-height: 1.5em;
}

.our-team-item__img-cont {
    overflow: hidden;

    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 36px;

    border-radius: 50%;
}

.our-team-item__img {
    max-width: 100%;
}

.our-team-item__title {
    font-size: 1.5rem;
    font-weight: bold;

    margin-bottom: .5rem;

    text-transform: uppercase;
}

.our-team-item__descr {
    margin-bottom: 20px;

    color: $blue;
}

.our-team-item__info {
    font-weight: lighter;

    margin-bottom: 26px;
}
