html {
    font-size: 16px;
    line-height: 1.5em;
}

body {
    font-family: $font-reg;

    margin: 0;

    text-align: center;
    letter-spacing: .02em;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


// img {
//     // display: block;
//     margin: 0;
//     padding: 0;
//     border: 0;
//     font-size: 100%;
//     vertical-align: baseline;
// }

q {
    display: block;
    margin: 0;
}

a {
    display: block;

    text-decoration: none;
}

input[type="submit"] {
    padding: 0;
    outline: none;
    cursor: pointer;
}
