.button {
    font-size: 1.125rem;
    line-height: 3.875rem ;

    width: 293px;
    min-width: 170px;
    margin: 0 auto;
    padding-top: .25rem;

    text-align: center;
    letter-spacing: .02em;
    text-transform: uppercase;

    color: #fff;
    border-bottom: 4px solid rgba(0,0,0,.15);
    border-radius: 5px;
}

